:application: Scoop
:adapter: git
:git:
  :branch: master
  :remote: origin
  :reset_local: true
:source_dir: <%= Dir.pwd %>/src
:build_dir: <%=root%>/build
:build_tasks: echo my build tasks
:deploy_tasks: echo deploy
:logfile: <%=root%>//scoop.log
:poll_interval: 5
:notification:
:email:
  :to:
  :from:
  :subject_prefix: (Scoop)
  :smtp:
    :password:
    :account:
    :host: smtp.gmail.com
    :port: 587
    :authentication: plain
:jaconda:
  :subdomain:
  :room_id:
  :room_token:
:gist:
  :github_user:
  :github_token:
