:adapter: git
:source_dir: <%=root%>/test/src
:build_dir: <%=root%>/test/build
:build_tasks: echo a build task
:deploy_tasks: echo a deploy task
:email:
  :contact:
  :from:
  :subject_prefx:
  :smtp:
